@model libreria.Models.dbModels.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de Libro</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
          Titulo:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
         Publicacion:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PubYear)
        </dd>
      
        <dt class="col-sm-2">
        Autor:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Id)
        </dd>
    </dl>
</div>

<div>
    <h3>Inventario</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Tienda</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inventory in Model.Inventories)
            {
                <tr>
                    <td>@inventory.Store.Name</td>
                    <td>@inventory.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>
