@model IEnumerable<libreria.Models.dbModels.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Libro</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
              Publicacion
            </th>
            <th>
            Autor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
	<a asp-action="Create" class="btn btn-primary">Crear nuevo</a>
	<a asp-action="Create" asp-controller="Inventory" class="btn btn-secondary">Asignar un libro a una tienda</a>

</p>