@model IEnumerable<libreria.Models.dbModels.Store>

@{
    ViewData["Title"] = "Index";
}

<h1>Tiendas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre:
            </th>
            <th>
         Calle:
            </th>
            <th>
               Codigo Postal:
            </th>
            <th>
          Ciudad:
            </th>
            <th>
              Pais:
            </th>
            <th>
          Estado:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
	<a asp-action="Create" class="btn btn-secondary">Crear</a>
</p>